
body {
  background-color: #126;
}

h1 {
  display: none;
}

.frame {
  position: relative;
}

.bigboi {
  font-family: Anton;
  color: rgba(200, 0, 0, .75);
}

.im {
  position: absolute;
  top: 5vh;
  left: 5%;
}

.just {
  position: absolute;
  top: 18vh;
  left: 28%;
}

.ahead {
  position: absolute;
  top: 30vh;
  left: 55%;
}

.of {
  position: absolute;
  top: 45vh;
  left: 85%;
  transform: rotate(180deg);
}

.the {
  position: absolute;
  top: 65vh;
  left: 54%;
  transform: rotate(180deg);
}

.curve {
  position: absolute;
  top: 80vh;
  left: 12%;
  transform: rotate(180deg);
}

.smallboi {
  font-family: "ZCOOL KuaiLe";
  color: rgba(255, 255, 255, .5);
}

.p1 {
  position: absolute;
  top: 8vh;
  right: 15%;
}

.p2 {
  position: absolute;
  top: 46vh;
  left: 12%;
}

.p3 {
  position: absolute;
  top: 85vh;
  right: 20%;
}

.ha {
  font-family: "Trade Winds";
  color: rgba(0, 0, 0, .3);
  z-index: -1;
}

.ha p:nth-child(1) {
  position: absolute;
  top: 8vh;
  left: 20%;
  transform: rotate(-20deg);
}

.ha p:nth-child(2) {
  position: absolute;
  top: 10vh;
  left: 80%;
  transform: rotate(15deg);
}

.ha p:nth-child(3) {
  position: absolute;
  top: 20vh;
  left: 45%;
  transform: rotate(5deg);
}

.ha p:nth-child(4) {
  position: absolute;
  top: 45vh;
  left: 7%;
  transform: rotate(7deg);
}

.ha p:nth-child(5) {
  position: absolute;
  top: 35vh;
  left: 70%;
  transform: rotate(-20deg);
}

.ha p:nth-child(6) {
  position: absolute;
  top: 70vh;
  left: 30%;
  transform: rotate(-15deg);
}

.ha p:nth-child(7) {
  position: absolute;
  top: 75vh;
  left: 60%;
  transform: rotate(20deg);
}
